#login {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#btnLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#loginErr {
    display: block;
    width: 100px;
    color: darkred;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}