/* make carousel icons show on white background */
/* Found at https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C0C0C0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C0C0C0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.container {
    margin-top: 20px;
}

h1, h2 {
    text-align: center;
}

h2 {
    /* compensate for navbar*/
    padding-top: 56px;
}

header {
    margin-top: 15px;
}

header h1 {
    font-size: 9vw;
    font-weight: 100;
    letter-spacing: .125em;
    text-transform: uppercase;
}

main {
    margin-top: 50px;
}

main p {
    text-align: justify;
}

#nav .nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

